iterator.o
julia
julia.map
julia.msaa
julia.o
julia.png
julia.rgb
mandelbrot
mandelbrot.map
mandelbrot.msaa
mandelbrot.o
mandelbrot.png
mandelbrot.rgb
mapper.o
palette
palette.bin
pngify
render
resample
